// Colors
$genshin_white: rgb(236, 229, 216);
$genshin_dark: rgb(73, 83, 102);
$genshin_gray: rgb(102, 102, 102);
$genshin_gold: rgb(211, 188, 142);
$genshin_cyan_blue: rgb(104, 221, 255);
$genshin_orange_red: rgb(255, 95, 64);
$genshin_green_light: rgb(143, 229, 0);
$genshin_gray_light: rgb(169, 169, 169);
$genshin_green: rgb(92, 178, 86);
$genshin_yellow: rgb(255, 225, 75);
$genshin_brown_white: rgb(217, 213, 203);
$genshin_brown_red: rgb(171, 102, 82);

@font-face {
  font-family: "genshin-font";
  src: url(~@/style/genshin_mini_artifact.ttf);
}

body {
  font-family: "genshin-font" !important;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  transition: ease 0.2s all;
  background: rgba(128, 128, 128, 0.5);
}

::-webkit-scrollbar-thumb {
  // 滚动条里面小方块
  border-radius: 0.625rem;
  background: rgb(246, 244, 243);
}

::-webkit-scrollbar-track {
  // 滚动条里面轨道
  // box-shadow: inset 0 0 0.3125rem rgba(0, 0, 0, 0.2);
  border-radius: 0.1875rem;
  background: rgba(0, 0, 0, 0.2);
}

// 仿原神按键

.btn-genshin {
  position: relative;
  background-color: $genshin_white !important;
  border-radius: 1.5625rem !important;

  &::before {
    content: "";
    position: absolute;
    inset: -0.1875rem;
    display: block;
    border-radius: 1.5625rem;
  }

  &:hover::before {
    border: solid 0.1875rem rgb(255, 255, 255);
  }

  &:active {
    opacity: 0.8;
  }
}

.btn-genshin-dark {
  position: relative;
  color: $genshin_white !important;
  background-color: $genshin_dark !important;
  border-radius: 1.5625rem !important;

  &::before {
    content: "";
    position: absolute;
    inset: -0.1875rem;
    display: block;
    border-radius: 1.5625rem;
  }

  &:hover::before {
    border: solid 0.1875rem rgb(255, 230, 178);
  }

  &:active {
    opacity: 0.8;
  }
}

.circleinbox {
  position: relative;
  float: left;
  margin-left: -0.35rem;
  margin-right: 0.4rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 100rem;
  background-color: rgb(48, 48, 48);

  &::after {
    content: "";
    position: absolute;
    inset: 0.3125rem;
    border: solid 0.125rem rgb(245, 195, 50);
    border-radius: 100rem;
  }
}

.squareinbox {
  position: relative;
  float: left;
  margin-top: 0.1rem;
  margin-left: -0.3rem;
  margin-right: 0.4rem;
  height: 1.2rem;
  width: 1.2rem;
  background-color: rgb(48, 48, 48);
  border-radius: 0.125rem;

  &::after {
    content: "";
    position: absolute;
    inset: 0.25rem;
    border: solid 0.125rem rgb(245, 195, 50);
  }
}

.xinbox {
  position: relative;
  float: left;
  margin-left: -0.35rem;
  margin-right: 0.4rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 100rem;
  background-color: rgb(48, 48, 48);

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1rem;
    top: 0.2rem;
    left: 0.65rem;
    background-color: rgb(56, 161, 228);
    border: solid 0.0625rem rgb(56, 161, 228);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1rem;
    top: 0.2rem;
    left: 0.65rem;
    background-color: rgb(56, 161, 228);
    border: solid 0.0625rem rgb(56, 161, 228);
    transform: rotate(135deg);
  }
}

.msg-box {
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(223, 213, 192);
  border: solid 0.125rem rgb(216, 204, 180);
}

//新物品标识
.isNew {
  position: absolute;
  z-index: 3;
  right: 0;
  top: -0.25rem;
  color: rgb(255, 255, 128);
  background-color: rgb(204, 129, 13);
  border: solid 0.125rem rgb(255, 225, 55);
  border-top-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  padding: 0 0.1875rem;
  line-height: 1rem;

  &::before {
    content: "✦";
    position: absolute;
    z-index: 3;
    top: -0.5rem;
    right: -0.4375rem;
    color: rgb(255, 225, 55);
  }

  &::after {
    content: "✦";
    position: absolute;
    z-index: 3;
    bottom: -0.5625rem;
    left: -0.3125rem;
    color: rgb(255, 225, 55);
    font-size: 0.5rem;
  }
}

// 选择状态标识
.isSelect {
  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: -0.0625rem;
    border: 0.125rem solid #ffffff;
    border-radius: 0.03125rem;
    animation: artifactSelect2 ease 1s forwards;
  }

  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: -0.0625rem;
    border: 0.125rem solid #ffffff;
    border-radius: 0.3125rem;
    animation: artifactSelect ease 1s infinite;
  }
}

// 点击时缩放
.isClick {
  transform: scale(0.95);
}

// bootstrap样式修改

.modal-content {
  border: none !important;
}

.offcanvas-header,
.modal-header {
  position: relative;
  color: $genshin_white;
  background-color: rgb(69, 77, 92);

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0.1875rem;
    border: solid 0.1875rem rgb(81, 91, 107);
  }
}

.offcanvas-header .btn-close,
.modal-header .btn-close {
  position: relative;
  border-radius: 1.5625rem;
  margin-right: 0 !important;
  background-image: url(~@/assets/images/close.png);
  background-size: 1.6875rem;
  background-color: $genshin_white;
  background-repeat: no-repeat;
  opacity: 1;

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: -0.1875rem;
    border: solid 0.25rem rgb(135, 141, 141);
    border-radius: 1.5625rem;
  }

  &:hover::after {
    border: solid 0.375rem $genshin_white;
  }
}

.offcanvas-body {
  position: relative;
  background-color: $genshin_brown_white;
}

.modal-body {
  position: relative;
  background-color: rgb(249, 246, 242);

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0.1875rem;
    border: solid 0.1875rem rgb(242, 238, 231);
  }
}

.modal-footer {
  padding: 0.5rem 0.75rem !important;
  background-color: $genshin_white;
}

.form-switch .form-check-input {
  margin-top: 0;
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 2.5rem;
  background-color: $genshin_dark;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
  border: solid 2px $genshin_white;

  &:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
    outline: none;
    box-shadow: none;
  }

  &:checked {
    background-color: $genshin_gold;
    border-color: $genshin_white;
  }
}

// 公共css

.hide {
  display: none !important;
}

.fs-sm {
  font-size: 0.6rem;
}

.btn:focus {
  box-shadow: none !important;
}

.highscore {
  color: rgb(148, 38, 6);
}

.navbar {
  height: 3.5rem;
  background-color: $genshin_dark;
  width: 100%;
  z-index: 10;

  .siteTitle {
    font-size: 1.2rem;
    color: $genshin_white;
    padding-left: 0.3rem;

    a {
      color: $genshin_white;
      text-decoration-line: none;
      box-shadow: #c38542 -0.6875rem 0.0625rem 0rem 0rem;
    }
  }
}

.alertBox {
  pointer-events: none;
  user-select: none;
  position: fixed;
  z-index: 1056;
  top: 1.25rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

// ArtifactShow

#offcanArtifactShow {
  background-color: rgb(243, 239, 225);
}

// 动画效果

.ani-showAlertBody {
  animation: showAlertBody 1s ease forwards;
}

.ani-AlertBoxUp {
  animation: AlertBoxUp 1s ease forwards;
}

.ani-AlertBtnShow {
  animation: AlertBtnShow 1s ease forwards;
}

.ani-ArtifactShow {
  animation: ArtifactShow 0.2s ease-in forwards;
}

.ani-rotate1 {
  animation: rotate 10s linear infinite;
}

.ani-rotate2 {
  animation: rotate2 8s linear infinite;
}

.ani-upSuccess {
  animation: upSuccess 1s ease forwards;
}

.ani-badgeFlash {
  animation: badgeFlash 2s ease infinite;
}

.ani-fogMove {
  animation: fogMove 90s linear infinite;
}

@keyframes showAlertBody {
  0% {
    height: 0;
  }

  40% {
    height: 0;
  }

  100% {
    height: 12.5rem;
  }
}

@keyframes AlertBoxUp {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-6.25rem);
  }
}

@keyframes AlertBtnShow {
  0% {
    visibility: hidden;
  }

  95% {
    visibility: hidden;
  }

  100% {
    visibility: inherit;
  }
}

@keyframes ArtifactShow {
  0% {
    transform: scale(1.7);
    filter: brightness(20);
    box-shadow: #fff 0rem 0rem 1.25rem 1.25rem;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes upSuccess {
  0% {
    transform: translateY(-2rem);
  }

  40% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes badgeFlash {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes fogMove {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 125rem;
  }
}

@keyframes artifactSelect {
  0% {
    transform: rotate3d(0, 0, 0);
    box-shadow: 0 0 0.5rem 0.1875rem #fff;
  }

  50% {
    transform: rotate3d(0, 0, 0);
    box-shadow: 0 0 0.0625rem 0.0625rem #fff;
  }

  100% {
    transform: rotate3d(0, 0, 0);
    box-shadow: 0 0 0.5rem 0.1875rem #fff;
  }
}

@keyframes artifactSelect2 {
  0% {
    position: absolute;
    inset: 0;
    border: solid 0.0625rem #fff;
    opacity: 1;
  }

  80% {
    position: absolute;
    inset: -0.75rem;
    border: solid 0.125rem #fff;
    opacity: 0;
  }

  100% {
    position: absolute;
    inset: -0.75rem;
    border: solid 0.125rem #fff;
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-2 22:11:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

// 响应式
@media screen and (max-width: 30rem) {
  .ArtifactsBox {
    width: calc(50% - 1.25rem) !important;
  }

  .entryBox {
    padding: 0 0.5rem;
    width: 100% !important;
  }

  .UpAlertBody {
    padding: 0 0.5rem;

    .upgradeArrowUp {
      right: 0.2rem !important;
    }

    .UpAlertEntry .upEntry .upgradeArrowUp {
      right: -0.6rem !important;
    }
  }

  .upgrade-button-lg {
    bottom: 0.9375rem !important;
    right: 0.9375rem !important;
  }

  .UpAlertMainEntry {
    margin-right: 0.15rem !important;
  }
}

@media screen and (max-width: 56.875rem) {
  .ArtifactShowBox {
    display: none !important;
  }

  .partFilterBox {
    width: 100% !important;
  }

  .upArtifactBox {
    left: 50% !important;
    margin-left: -6.25rem !important;
  }

  .upgrade-button-box {
    right: 0 !important;
    width: 100% !important;
    text-align: center !important;
  }

  .upgradeMax {
    bottom: 1rem !important;
    right: 1rem !important;
  }

  // 套装界面
  .character-container {
    top: 55%;
    width: 100% !important;

    .list-wrapper {
      height: calc(50% - 8.5rem);
    }

    .buttonBox {
      border-top: solid 0.0625rem #35393d;
    }
  }

  .artifactDetailBox {
    position: fixed !important;
    height: 45% !important;
    top: 3.625rem !important;
    inset: auto !important;
    width: 100%;
    overflow-y: scroll;

    .comparedBox {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 56.875rem) {
  .mobileShow {
    display: none !important;
  }

  .navbar .siteTitle {
    margin-left: 3.125rem !important;
  }

  .main-container,
  .containerUp {
    padding: 0 6.25rem !important;
  }

  .ArtifactShowBox {
    overflow-y: scroll !important;
    position: fixed !important;
    z-index: 1;
    padding-top: 0.9375rem !important;
    top: 3.5rem !important;
    right: 6.25rem !important;
    width: 20rem !important;
    height: inherit !important;
    background-color: rgba(255, 255, 255, 0.2);

    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  .extra-container {
    margin-left: 0 !important;
    width: calc(100% - 32.5rem) !important;
  }

  footer {
    padding-left: 3.125rem !important;
    padding-right: 3.125rem !important;
  }
}
